
.form{
    display: flex;
    background-color: rgba(0, 0, 0, 0);
    height:80vh;
   
    flex-direction: column;
    justify-content:center;
    align-items: center;
}
   
.formDark{
    background-color: rgb(255, 213, 0);
}